<!-- 


























{% load static %}

<!-- {% block title %}Register{% endblock %} -->

{% block content %}
<!-- Your registration form goes here -->
<head>
  <!-- Importing google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
  
  <style>
    h2 {
      text-align: center;
    }

    /*inheriting the font to css container*/
        body{
           font-family: 'Quicksand', sans-serif; 
        }
    
        /*inheriting the font to css container  inside the input fields*/
        input[type="text"], input[type="email"],input[type="password"] {
            font-family: 'Quicksand', sans-serif;
        }
        
        
  </style>
</head>


<div class="container">
    <form method="post" action="{% url 'register' %}">
      <h2>Sign Up</h2>
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger">
        {% for field in form %}
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <!-- <label for="username">Username:</label> -->
    <input type="text" id="username" name="username" placeholder="username" required>
    <!-- <label for="email">Email:</label> -->
    <input type="email" id="email" name="email" placeholder="email" required>
    <!-- <label for="password">Password:</label> -->
    <input type="password" id="password" name="password" placeholder="password" required>
    <!-- <label for="confirm_password">Confirm Password:</label> -->
    <input type="password" id="confirm_password" name="confirm_password" placeholder="confirm_password" required>
    <input type="submit" value="Sign Up">
    <div class="login-link">
        <p>Already have an account? <a href="{% url 'login' %}">Sign In</a></p>
      </div>
  </form>
</div>
{% endblock %}
 -->
